<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wheregoes.enginesound">

    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET" />

    <application
        android:label="Engine Sound"
        android:debuggable="true"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <activity android:name=".MainActivity" android:exported="true"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
